//**************************************************************||
//                       VARIABLES                              ||
//**************************************************************||
$black: #2B2A2A;
$transblack: rgba(43,42,42,0.7);
$transblack2: rgba(43,42,42,0.4);
$white: #F7F7F7;
$transwhite: rgba(247,247,247,0.6);
$lightgrey: rgba(43,42,42,0.2);

//**************************************************************||
//                         MIXINS                               ||
//**************************************************************||
@mixin studentimgs {
	height: 120px;
	width: 120px;
}
@mixin boxshadows {
	-webkit-box-shadow: 5px 5px $lightgrey;
	-moz-box-shadow: 5px 5px $lightgrey;
	box-shadow: 5px 5px $lightgrey;
}
@mixin textshadows {
	text-shadow: 2px 2px $lightgrey;
}

$clock: 'digitalk';

@font-face {
  font-family: 'digitalk';
  src: url('digitalk-mono.eot'); /* IE9 Compat Modes */
  src: url('digitalk-mono.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('digitalk-mono.woff') format('woff'), /* Modern Browsers */
       url('digitalk-mono.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('digitalk-mono.svg#7247f91229e4fccb21ea2930d1819a4b') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

//**************************************************************||
//                         GLOBAL                               ||
//**************************************************************||
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    margin: 0;
    padding: 0;
   }
.clearfix:after {
     content: " ";
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
}
.wrapper{
	width: 1120px;
	min-height: 100%;
	margin: 20px auto;
	// background: $transblack2;
	border-radius: 20px;
}	

body{
	font-family: 'Varela Round', sans-serif;
	// background: $white;
	color: $black;
	background-image: url(../images/brickwall.png);

}

h1 {
	font-size: 80px;
	text-align: center;
	padding: 0 0;
	text-shadow: 5px 5px $lightgrey;
}

//**************************************************************||
//                       SIDEBARS                               ||
//**************************************************************||
.selected {
	padding: 50px 10px ;
	float: left;
	width: 200px;
	height: 480px;
	background: $lightgrey;
	// border: 3px solid black;


	h2 {
		font-size: 30px;
		text-align: center;
		padding: 20px 0;
		@include textshadows;
	}

	img {
		width: 180px;
		height: 180px;
		border-radius: 50%;
		@include boxshadows;
	}

	p {
		padding: 15px 10px;
		font-size: 18px;
		@include textshadows;
	}
}

//**************************************************************||
//                         PHOTOGRID                            ||
//**************************************************************||
.overlay {
	background: 
	linear-gradient(
      rgba(42, 42, 42, 0.75), 
      rgba(42, 42, 42, 0.75)
    ),
    url(../images/bg-Victory.JPG) no-repeat center center;
}	
.nooverlay {
	background: url(../images/bg-Victory.JPG) no-repeat center center;
}
.photogrid {
	background-size: cover;
	margin: 0 auto;
	width: 720px;
	float: left;
	@include boxshadows;

	.student {
		@include studentimgs;
		float: left;

		&.id1 {
			background: url(../images/Jenn-120x120.jpg);	
		}
		&.id2 {
			background: url(../images/Emily-120x120.jpg);
		}
		&.id3 {
			background: url(../images/Ray-120x120.jpg);
		}
		&.id4 {
			background: url(../images/Vanessa-120x120.jpg);
		}
		&.id5 {
			background: url(../images/Nerissa-120x120.jpg);
		}
		&.id6 {
			background: url(../images/Rasin-120x120.jpg);
		}
		&.id7 {
			background: url(../images/Logan-120x120.jpg);
		}
		&.id8 {
			background: url(../images/Anna-120x120.jpg);
		}
		&.id9 {
			background: url(../images/Daniel-120x120.jpg);
		}
		&.id10 {
			background: url(../images/Corbin-120x120.jpg);
		}
		&.id11{
			background: url(../images/Jessie-120x120.jpg);
		}
		&.id12 {
			background: url(../images/Robin-120x120.jpg);
		}
		&.id13 {
			background: url(../images/Jonny-120x120.jpg);
		}
		&.id14 {
			background: url(../images/Lili-120x120.jpg);
		}
		&.id15 {
			background: url(../images/Marg-120x120.jpg);
		}
		&.id16 {
			background: url(../images/Meahgan-120x120.jpg);
		}
		&.id17 {
			background: url(../images/Zoe-120x120.jpg);
		}
		&.id18 {
			background: url(../images/Wisam-120x120.jpg);
		}
		&.id19 {
			background: url(../images/Simon-120x120.jpg);
		}
		&.id20 {
			background: url(../images/Sarah-120x120.jpg);
		}
		&.id21{
			background: url(../images/Victoria-120x120.jpg);
		}
		&.id22 {
			background: url(../images/Matt-120x120.jpg);
		}
		&.id23 {
			background: url(../images/Krisztina-120x120.jpg);
		}
		&.id24 {//elyse
			text-align: center;
			padding-top: 45px;
			font-size: 25px;
			background: url(../images/Elyse-120x120.jpg);
		}
	}//student
}
//**************************************************************||
//                     EVENT RELATED                            ||
//**************************************************************||  
.matched {
	background: $transblack;
	border: none;
}
.selectedoverlay {

}

//**************************************************************||
//                       CLOCK                                  ||
//**************************************************************||
.clock {
	width: 16%;
	margin:0 auto;
	clear: both;
	height:auto;
	border: 2px solid #005501;
	margin-bottom:8px;
	.innerclock {
		
		
		p {
			font-size: 45px;
			color:#005501;
			text-align: left;
			padding:6px 0 0 7px;
			@include textshadows;
			font-family: $clock;
		}
	}
} 
//style .matched
//cancelled out 