h1 {
  font-size: 40px;
}

.photogrid {
  width: 720px;
}
.photogrid .student {
  height: 120px;
  width: 120px;
  float: left;
}
.photogrid .id1 {
  background: url();
}
.photogrid .id2 {
  background: url();
}
.photogrid .id3 {
  background: url();
}
.photogrid .id4 {
  background: url();
}
.photogrid .id5 {
  background: url();
}
.photogrid .id6 {
  background: url();
}
.photogrid .id7 {
  background: url();
}
.photogrid .id8 {
  background: url();
}
.photogrid .id9 {
  background: url();
}
.photogrid .id10 {
  background: url();
}
.photogrid .id11 {
  background: url();
}
.photogrid .id12 {
  background: url();
}
.photogrid .id13 {
  background: url();
}
.photogrid .id14 {
  background: url();
}
.photogrid .id15 {
  background: url();
}
.photogrid .id16 {
  background: url();
}
.photogrid .id17 {
  background: url();
}
.photogrid .id18 {
  background: url();
}
.photogrid .id19 {
  background: url();
}
.photogrid .id20 {
  background: url();
}
.photogrid .id21 {
  background: url();
}
.photogrid .id22 {
  background: url();
}
.photogrid .id23 {
  background: url();
}
.photogrid .id24 {
  background: url();
}
